div.carousel.slide.mb-3#mySlider(data-bs-ride="carousel")
    div.carousel-indicators
        button(type="button" data-bs-target="#mySlider" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1").active
        button(type="button" data-bs-target="#mySlider" data-bs-slide-to="1" aria-label="Slide 2")
        button(type="button" data-bs-target="#mySlider" data-bs-slide-to="2" aria-label="Slide 3")

    div.carousel-inner
        div.carousel-item.active
            img(src="/img/slider1 (2).jpg" alt="").d-block.w-100
        div.carousel-item
            img(src="/img/slider2 (3).jpg" alt="").d-block.w-100
        div.carousel-item
            img(src="/img/slider3 (2).jpg" alt="").d-block.w-100

    button(type="button" data-bs-target="#mySlider" data-bs-slide="prev").carousel-control-prev
        span(aria-hidden="true").carousel-control-prev-icon
        span.visually-hidden Previous

    button(type="button" data-bs-target="#mySlider" data-bs-slide="next").carousel-control-next
        span(aria-hidden="true").carousel-control-next-icon
        span.visually-hidden Next